<div class="nav">
    <div class="container">
		<div class="title pull-left">
			<a href="index.html"><b>OCP: Java SE 17 Developer Study Guide</b></a>
		</div>
		<div class="menu desktop pull-right">
		  <a class="chapters dropdown-desktop" href="#"><i class="icon-book"></i><span>Chapters</span></a>
		  <ul class="dropdown-menu">
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="intro.html">Introduction</a></li>
				<li><a tabindex="-1" href="ch01.html">1. Utilizing Java Object-Oriented Approach - Part 1</a></li>
				<li><a tabindex="-1" href="ch02.html">2. Utilizing Java Object-Oriented Approach - Part 2</a></li>
				<li><a tabindex="-1" href="ch03.html">3. Working with Records and Enums</a></li>
				<li><a tabindex="-1" href="ch04.html">4. Working with Data</a></li>
				<li><a tabindex="-1" href="ch05.html">5. Controlling Program Flow</a></li>
				<li><a tabindex="-1" href="ch06.html">6. Arrays, Generics, and Collections</a></li>
				<li><a tabindex="-1" href="ch07.html">7. Error Handling and Exceptions</a></li>
				<li><a tabindex="-1" href="ch08.html">8. Functional Interfaces and Lambda Expressions</a></li>
			  </ul>
			</li>
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="ch09.html">9. Streams</a></li>
				<li><a tabindex="-1" href="ch10.html">10. Concurrency and Multithreading</a></li>
				<li><a tabindex="-1" href="ch11.html">11. The Date API</a></li>
				<li><a tabindex="-1" href="ch12.html">12. File I/O and Serialization</a></li>
				<li><a tabindex="-1" href="ch13.html">13. The Java Platform Module System</a></li>
				<li><a tabindex="-1" href="ch14.html">14. Accessing Databases with JDBC</a></li>
				<li><a tabindex="-1" href="ch15.html">15. Localization</a></li>
				<li><a tabindex="-1" href="ch16.html">16. Annotations</a></li>
				<li><a tabindex="-1" href="appendix01.html">Appendix 01. Logging</a></li>
			  </ul>
			</li>
		  </ul>
		</div>
	</div>
	<div class="menu mobile pull-right">
		<a class="chapters dropdown-mobile" href="#"><i class="icon-book"></i></a>
		<ul class="dropdown-menu">
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="intro.html">Introduction</a></li>
				<li><a tabindex="-1" href="ch01.html">1. Utilizing Java Object-Oriented Approach - Part 1</a></li>
				<li><a tabindex="-1" href="ch02.html">2. Utilizing Java Object-Oriented Approach - Part 2</a></li>
				<li><a tabindex="-1" href="ch03.html">3. Working with Records and Enums</a></li>
				<li><a tabindex="-1" href="ch04.html">4. Working with Data</a></li>
				<li><a tabindex="-1" href="ch05.html">5. Controlling Program Flow</a></li>
				<li><a tabindex="-1" href="ch06.html">6. Arrays, Generics, and Collections</a></li>
				<li><a tabindex="-1" href="ch07.html">7. Error Handling and Exceptions</a></li>
				<li><a tabindex="-1" href="ch08.html">8. Functional Interfaces and Lambda Expressions</a></li>
			  </ul>
			</li>
			<li class="column-menu">
			  <ul>
				<li><a tabindex="-1" href="ch09.html">9. Streams</a></li>
				<li><a tabindex="-1" href="ch10.html">10. Concurrency and Multithreading</a></li>
				<li><a tabindex="-1" href="ch11.html">11. The Date API</a></li>
				<li><a tabindex="-1" href="ch12.html">12. File I/O and Serialization</a></li>
				<li><a tabindex="-1" href="ch13.html">13. The Java Platform Module System</a></li>
				<li><a tabindex="-1" href="ch14.html">14. Accessing Databases with JDBC</a></li>
				<li><a tabindex="-1" href="ch15.html">15. Localization</a></li>
				<li><a tabindex="-1" href="ch16.html">16. Annotations</a></li>
				<li><a tabindex="-1" href="appendix01.html">Appendix 01. Logging</a></li>
			  </ul>
			</li>
		  </ul>
	  </div>
</div>